# Initialized files
*.basic
*.vbw
BIN/CODIGO/*
CODIGO/*
CODIGO AutoUpdate/*
Codigo DLL_AntiCheat/*
Codigos Seguridad/*
.DS_Store
*.vbw
*.csi
*.OBJ
*.log
*.LOG
*.bot
bkNpcs.dat
Guilds/guildsinfo.inf
*Bender-Online.exe
*BAOG-DX8.exe
*CommadsGM.ini
*BinFill.bao
*Tmp.tmp
*BenderAO.exe.manifest.bao
*BAO-DX8.exe.manifest.bao